/* toggle.css - Styles for toggle elements */

#language-toggle {
  position: absolute; /* Adjust if necessary to position the toggle */
  left: 20%;
  top: 320px;
  transform: translateX(-50%);
  z-index: 1000; /* High value to ensure it's on top */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
  width: 100%; /* Make sure it spans the full width */
}

.language-label {
    margin-left: 5px;
	margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

#switch-lang-btn {
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
	background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
}

.lang-flag {
    width: 30px;
    height: auto;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
	bottom: 70px;
}